<% content_for :head do %>
  <%= javascript_include_tag 'combatants/initiative' %>
<% end %>

<h1>Combat: Initiative</h1>

<%
def init_list_item(name, count)
  content_tag(:div, class: %w( list-group-item )) do
    content_tag(:span, count, class: 'init-count') <<
    content_tag(:span, name, class: 'init-name' ) <<
    content_tag(:span, '', class: 'badge')
  end
end
%>

<%= 
content_tag(:div, class: %w( panel panel-default )) do
  content_tag(:div, class: %w( panel-heading )) do
    content_tag(:h2, 'Turn Order', class: %w( panel-title ))
  end <<
  content_tag(:div, class: %w( panel-body )) do
    content_tag(:div, class: %w( btn-group ), style: 'margin-bottom: 10px',
                role: 'group', 'aria-label' => 'cycle') do
      button_tag('Next Turn', class: %w( btn btn-primary ), id: 'nextturn')
    end <<
    content_tag(:div, class: %w( btn-group ),
                style: 'margin-left: 10px; margin-bottom: 10px',
                role: 'group', 'aria-label' => 'modify combatants') do
      button_tag('New', id: 'new-btn', class: %w( btn btn-default ), 
                 'data-toggle' => 'modal', 'data-target' => '#newcomb-modal') <<
      button_tag('Clear', id: 'clear-btn', class: %w( btn btn-default )) 
    end <<
    content_tag(:div, class: %w( btn-group ), 'data-toggle' => 'buttons',
                style: 'margin-left: 10px; margin-bottom: 10px',
                role: 'group', 'aria-label' => 'toggles') do
      content_tag(:label, class: %w( btn btn-default active ), 'aria-pressed' => true) do
        check_box_tag(:autoupdate, 1, true, autocomplete: 'off') << 'Auto-update'
      end
    end <<
    content_tag(:div, nil, id: 'initiative-list' )
  end
end
%>

<%=
content_tag(:div, id: 'newcomb-modal', class: 'modal fade', 
            tabindex: '-1', role: 'dialog', 'aria-hidden' => true,
            'aria-labelledby' => 'newcomb-label') do
  content_tag(:div, class: %w( modal-dialog )) do
    form_for(Combatant.new, class: %w( form-inline ), role: 'form') do |f|
      content_tag(:div, class: %w( modal-content )) do
        content_tag(:div, class: %w( modal-header )) do
          button_tag('type' => 'button', 'data-dismiss' => 'modal', class: %w( close )) do
            content_tag(:span, nil, class: %w( fa fa-close ), 'aria-hidden' => true) <<
            content_tag(:span, 'close', class: 'sr-only')
          end <<
          content_tag(:h4, 'New Combatant', id: 'newcomb-label', class: 'modal-title')
        end <<
        content_tag(:div, class: %w( modal-body )) do
          content_tag(:div, class: %w( form-group row )) do
            content_tag(:div, class: %w( col-xs-12 col-sm-9 )) do
              f.label(:name) <<
              f.text_field(:name, class: 'form-control')
            end <<
            content_tag(:div, class: %w( col-xs-4 col-sm-3 )) do
              f.label(:count) <<
              f.text_field(:count, class: %w( form-control col-xs-2 ))
            end
          end
        end <<
        content_tag(:div, class: %w( modal-footer )) do
          button_tag('Cancel', type: 'button', class: %w( btn btn-default ), 'data-dismiss' => 'modal') <<
          button_tag('Add', type: 'submit', id: 'newcomb-ok', class: %w( btn btn-primary ))
        end
      end
    end
  end
end
%>

<%=
content_tag(:div, id: 'editcomb-modal', class: 'modal fade', 
            tabindex: '-1', role: 'dialog', 'aria-hidden' => true,
            'aria-labelledby' => 'editcomb-label') do
  content_tag(:div, class: %w( modal-dialog )) do
    form_for(Combatant.new, method: 'PATCH', html: { class: %w( form-inline ), role: 'form' }) do |f|
      content_tag(:div, class: %w( modal-content )) do
        content_tag(:div, class: %w( modal-header )) do
          button_tag('type' => 'button', 'data-dismiss' => 'modal', class: %w( close )) do
            content_tag(:span, nil, class: %w( fa fa-close ), 'aria-hidden' => true) <<
            content_tag(:span, 'close', class: 'sr-only')
          end <<
          content_tag(:h4, 'Edit Combatant', id: 'editcomb-label', class: 'modal-title')
        end <<
        content_tag(:div, class: %w( modal-body )) do
          content_tag(:div, class: %w( form-group row )) do
            content_tag(:div, class: %w( col-xs-12 col-sm-9 )) do
              f.label(:name) <<
              f.text_field(:name, class: 'form-control')
            end <<
            content_tag(:div, class: %w( col-xs-4 col-sm-3 )) do
              f.label(:count) <<
              f.text_field(:count, class: %w( form-control col-xs-2 ))
            end
          end
        end <<
        content_tag(:div, class: %w( modal-footer )) do
          button_tag('Cancel', type: 'button', class: %w( btn btn-default ), 'data-dismiss' => 'modal') <<
          button_tag('Add', type: 'submit', id: 'editcomb-ok', class: %w( btn btn-primary ))
        end
      end
    end
  end
end
%>
