body {
  padding-top: 50px;
  padding-bottom: 30px;
}

#detail-modal {
  table {
    th, td {
      padding: 2px 5px;
    }

    tr {
      border-top: 1px solid silver;
      border-bottom: 1px solid silver;
    }

    margin-bottom: 5px;
  }
}

#dicebar {
  width: 21em;
  position: absolute;
  left: 25px;
  z-index: 5;

  .card {
    border-width: 2px;
  }
}

span.edit-confirm {
  margin-left: 20px;

  span.btn {
    margin-left: 10px;
  }
}

.edit-icon {
  margin-left: 25px;
  opacity: 0.4;
}

#initiative-list {
  .init-time {
    display: inline-block;
    width: 2em;
    margin-left: 20px;
    margin-right: 10px;
  }
}

#narrowing {
  margin-bottom: 10px;
  td, th {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.results {
  div {
    margin-top: 6px;
  }

  div.new-section {
    padding-top: 6px;
    border-top: 1px solid black;
  }
}

.spell-collapse {
  margin-left: 10px;

  span {
    display: block;
  }
}

