#detail-modal {
  table {
    th, td {
      padding: 2px 5px;
    }

    tr {
      border-top: 1px solid silver;
      border-bottom: 1px solid silver;
    }

    margin-bottom: 5px;
  }
}

#dicebar {
  width: 21em;
  position: absolute;
  left: 25px;
  z-index: 5;

  .card {
    border-width: 2px;
  }
}

span.edit-confirm {
  margin-left: 20px;

  span.btn {
    margin-left: 10px;
  }
}

#narrowing {
  margin-bottom: 10px;
  td, th {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.spell-collapse {
  margin-left: 10px;

  span {
    display: block;
  }
}

#toasts {
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 10;
}
