<% sids = @caster.spell_ids %>
<% (0..9).each do |lvl| %>
<div class="form-group">
  <h3><%= Spell.level_to_s lvl %></h3>
  <div class="row">
  <% @spells.select { |sp| sp.level == lvl }.each do |sp| %>
    <div class="col-xs-6 col-sm-4 col-md-3">
      <label>
        <%= check_box_tag("caster_class[spell_ids][]", sp.id, sids.include?(sp.id)) %>
        <%= sp.name %>
      </label>
    </div>
  <% end %>
  </div>
</div>
<% end %>
