<% content_for :head do %>
<%= javascript_include_tag 'spells/edit' %>
<% end %>

<h1>Edit Spell Description</h1>
<%= form_for @spell, html: { class: 'form-horizontal', role: 'form' } do |f|
  content_tag(:div, class: 'form-group') do
    f.label(:name, 'Name', class: %w( col-sm-2 control-label )) <<
    content_tag(:div, class: 'col-sm-10') do
      f.text_field(:name, class: %w( form-control ))
    end
  end <<
  content_tag(:div, class: 'form-group') do
    f.label(:school_id, 'School', class: %w( col-sm-2 control-label )) <<
    content_tag(:div, class: 'col-xs-2') do
      f.select(:school_id, SpellSchool::options_for_select, { }, { class: %w( form-control ) })
    end
  end <<
  content_tag(:div, class: 'form-group') do
    f.label(:level, 'Spell Level', class: %w( col-sm-2 control-label )) <<
    content_tag(:div, class: 'col-xs-2') do
      f.select(:level, [
        [ 'Cantrip', 0 ],
        [ 'Level 1', 1 ],
        [ 'Level 2', 2 ],
        [ 'Level 3', 3 ],
        [ 'Level 4', 4 ],
        [ 'Level 5', 5 ],
        [ 'Level 6', 6 ],
        [ 'Level 7', 7 ],
        [ 'Level 8', 8 ],
        [ 'Level 9', 9 ],
      ], { }, { class: %w( form-control ) } )
    end
  end <<
  content_tag(:div, class: 'form-group') do
    f.label(:cast_n, 'Casting Time', class: %w( col-sm-2 control-label )) <<
    content_tag(:div, class: 'col-xs-1') do
      f.text_field(:cast_n, class: %w( form-control ))
    end << 
    content_tag(:div, class: 'col-xs-2') do
      f.select(:cast_unit, TimeUnit::options_for_select, { }, 
               { class: %w( form-control ), 'data-dependent-textfield' => '#spell_cast_n', 'aria-label' => 'Casting Time Unit' })
    end <<
    content_tag(:div, class: 'col-xs-2') do
      content_tag(:label, class: %w( checkbox-inline )) do
        f.check_box(:ritual) << 'May be cast as ritual'
      end
    end
  end <<
  content_tag(:div, class: 'form-group') do
    f.label(:reaction, 'Reaction Trigger', class: %w( col-sm-2 control-label )) <<
    content_tag(:div, class: 'col-sm-10') do
      f.text_field(:reaction, class: %w( form-control ))
    end
  end <<
  content_tag(:div, class: 'form-group') do
    f.label(:range_n, 'Range', class: %w( col-sm-2 control-label )) <<
    content_tag(:div, class: 'col-xs-1') do
      f.text_field(:range_n, class: %w( form-control ))
    end << 
    content_tag(:div, class: 'col-xs-2') do
      f.select(:range_unit, DistanceUnit::options_for_select, { }, 
               { class: %w( form-control ), 'data-dependent-textfield' => '#spell_range_n', 'aria-label' => 'Range Unit' })
    end
  end <<
  content_tag(:div, class: 'form-group') do
    f.label(:aoe, 'Area of Effect', class: %w( col-sm-2 control-label )) <<
    content_tag(:div, class: 'col-sm-10') do
      f.text_field(:aoe, class: %w( form-control ))
    end
  end <<
  content_tag(:div, class: 'form-group') do
    label_tag('components', 'Components', class: %w( col-sm-2 control-label )) <<
    content_tag(:div, class: 'col-sm-10') do
      content_tag(:label, class: %w( checkbox-inline )) do
        f.check_box(:verbal) << 'Verbal'
      end <<
      content_tag(:label, class: %w( checkbox-inline )) do
        f.check_box(:somatic) << 'Somatic'
      end <<
      content_tag(:label, class: %w( checkbox-inline )) do
        f.check_box(:material, 'data-dependent-checkbox' => '#spell_focus') << 'Material'
      end <<
      content_tag(:label, class: %w( checkbox-inline )) do
        f.check_box(:focus) << 'Focus (material has no cost)'
      end
    end
  end <<
  content_tag(:div, class: 'form-group') do
    f.label(:page, 'Reference', class: %w( col-sm-2 control-label )) <<
    content_tag(:div, class: 'col-xs-1') do
      content_tag(:p, "PHB page", class: 'form-control-static')
    end <<
    content_tag(:div, class: 'col-xs-1') do
      f.text_field(:page, class: %w( form-control ))
    end
  end <<
  content_tag(:div, class: 'form-group') do
    f.label(:duration_n, 'Duration', class: %w( col-sm-2 control-label )) <<
    content_tag(:div, class: 'col-xs-1') do
      f.text_field(:duration_n, class: %w( form-control ))
    end << 
    content_tag(:div, class: 'col-xs-2') do
      f.select(:duration_unit, TimeUnit::options_for_select, { }, 
               { class: %w( form-control ), 'data-dependent-textfield' => 'spell_duration_n', 'aria-label' => 'Duration Unit' })
    end <<
    content_tag(:div, class: 'col-xs-2') do
      content_tag(:label, class: %w( checkbox-inline )) do
        f.check_box(:concentration) << 'Concentration required'
      end
    end
  end <<
  content_tag(:div, class: 'form-group') do
    f.label(:effect, 'Spell Effect', class: %w( col-sm-2 control-label )) <<
    content_tag(:div, class: 'col-sm-10') do
      f.text_field(:effect, class: %w( form-control ))
    end
  end <<
  content_tag(:div, class: 'form-group') do
    f.label(:higher, 'At Higher Levels', class: %w( col-sm-2 control-label )) <<
    content_tag(:div, class: 'col-sm-10') do
      f.text_field(:higher, class: %w( form-control ))
    end
  end <<
  content_tag(:div, class: 'form-group') do
    content_tag(:div, nil, class: 'col-sm-2') <<
    content_tag(:div, class: 'col-sm-10') { f.submit({ class: %w( btn btn-primary ) }) }
  end
end %>
