<% @spells.each do |s|
  items = [ ]
  items << s.school_text
  items << s.casting_time_text
  items << s.range_text
  items << s.aoe if s.aoe
  items << s.components_text
  items << s.duration_text
%>
<div>
  <%= link_to s.name, '#', 'data-toggle' => 'collapse', 'data-target' => "#spell-#{s.id}-desc", 'aria-expanded' => 'false', 'aria-controls' => "spell-#{s.id}-desc" %>
<%= safe_join items, ' // ' %>
<div id="spell-<%= s.id %>-desc" class="collapse">
  <%= render partial: 'spell_long', locals: { spell: s } %>
</div>
</div>
<% end %>
