<% content_for :head do %>
  <%= javascript_include_tag 'spells/edit' %>
<% end %>

<%# We make huge use of the SpellHelper to prevent this from getting totally out of hand. %>
<% level_select_options = 
[ [ 'Cantrip', 0 ], [ 'Level 1', 1 ], [ 'Level 2', 2 ],
  [ 'Level 3', 3 ], [ 'Level 4', 4 ], [ 'Level 5', 5 ], 
  [ 'Level 6', 6 ], [ 'Level 7', 7 ], [ 'Level 8', 8 ], 
  [ 'Level 9', 9 ], ]
%>
<h1>Spell Details</h1>
<%=
  content_tag(:div, role: 'form') do

    edit_textfield_form(@spell, 'name') <<
    edit_select_form(@spell, 'school_id', SpellSchool::options_for_select, 'translate_spell_school') <<
    edit_select_form(@spell, 'level', level_select_options, 'translate_spell_level') <<

    edit_field_form(:cast_n) do |f|
      edit_redirect_header(@spell, [ :cast_n, :cast_unit, :ritual ], 'translate_spell_casting_time' )
      # FIXME: figure out edit row
    end <<

    edit_textfield_form(@spell, 'reaction') <<

    edit_field_form(:range_n) do |f|
      edit_redirect_header(@spell, [ :range_n, :range_unit ], 'translate_spell_distance' )
      # FIXME: figure out edit row
    end <<

    edit_textfield_form(@spell, 'aoe') <<

    edit_field_form(:components) do |f|
      edit_basic_header(@spell, :components) <<
      # FIXME: figure out edit row
      edit_field_row([2, 2, 1]) do
        f.text_field(:components, class: 'form-control', 'data-dynamic-attribute' => 'components')
      end
    end <<

    edit_textfield_form(@spell, 'page') <<

    edit_field_form(:duration_n) do |f|
      edit_redirect_header(@spell, [ :duration_n, :duration_unit, :concentration ], 'translate_spell_duration' )
      # FIXME: figure out edit row
    end <<

    edit_textfield_form(@spell, 'effect') <<
    edit_textfield_form(@spell, 'higher')
  end
%>
