//= require_tree .
//= require_self

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "bootstrapValidator.min";

body {
  padding-top: 50px;
  padding-bottom: 30px;
}

.edit-icon {
  margin-left: 25px;
  opacity: 0.4;
}

span.edit-confirm {
  margin-left: 20px;

  span.btn {
    margin-left: 10px;
  }
}

#initiative-list {
  .init-count {
    display: inline-block;
    width: 2em;
    margin-right: 10px;
  }
}
